body{
  background-color: darkcyan;
  background-image: url(gambar2.jpg);
  

}

#judul{
  text-align: center;
  font-size: 100px;
  font-style: italic;
}

p{
  text-align: center;
  font-size: 30px;
  text-shadow: 100px;
}

div p{
  font-size: 30px;
  text-align: center;
}

.email{
  font-style: italic;
  color: rgb(17, 0, 253);
  text-decoration: underline;
  font-size: 20px;
}

p.cetak-miring{
  letter-spacing: 4px;
  font-size: 20px;
  font-family: poppins;
  text-align: left;
}